/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-container {
  height: 800px;
  width: 80vw;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.map-container {
  height: 800px;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
